src/main/mule/logs-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4681959-c9f2-47ed-9722-cc702eb14267" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="logs-integrationFlow" doc:id="82650062-b628-44c7-a49b-a0c836533d3b" >
		<http:listener doc:name="Listener" doc:id="ab3d3994-ed61-49c9-8521-f61e7c09e402" config-ref="HTTP_Listener_config" path="/splank"/>
		<logger level="INFO" doc:name="Logger" doc:id="2ca688fa-3183-4af2-b145-22eda07854f4" message="start log"/>
		<ee:transform doc:name="Transform Message" doc:id="78c9e5a0-a9bc-4f95-b436-c3c714cf5dd9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="508af3f3-4e3a-4470-81c9-4b00df77a974" message="end log #[payload]"/>
	</flow>
</mule>
